<?xml version="1.0" encoding="ISO-8859-9"?>
<config>
    <providers>
        <GarantiBankasi>
            <name>Garanti Bankasi</name>
            <parameters>
                <period>10</period>
                <delay>1000</delay>
                <criticalLevel>0.47</criticalLevel>
                <credentials>
                    <url>https://sanalposprovtest.garanti.com.tr/VPServlet</url>
                    <username>rocketInternet</username>
                    <password>rocket123</password>
                    <clientId>123456</clientId>
                    <terminalId>123456</terminalId>
                </credentials>
            </parameters>
            <testers>
                <tester>Garanti_ApplicationTest</tester>
                <tester>Garanti_ConnectionTest</tester>
            </testers>
            <events>
                <criticalLevel>Garanti_CriticalLevel</criticalLevel>
                <stable>Garanti_Stable</stable>
            </events>
        </GarantiBankasi>
    </providers>
</config>
