<?xml version="1.0" encoding="UTF-8"?>
<config>
  <storage>
    <adapter>Memcache</adapter>
    <config>
      <host>127.0.0.1</host>
    </config>
  </storage>
  <providers>
    <Garanti>
      <config>
        <url>https://sanalposprov.garanti.com.tr/<url>
        <merchant_id>111995</merchant_id>
        <terminal_id>66912</terminal_id>
        <prov_user>PROVAUTH</prov_user>
        <prov_pass>test</prov_pass>
      </config>
      <parameters>
        <testPeriod>10</testPeriod>
        <criticalLevel>0.4</criticalLevel>
      </parameters>
      <methods>
        <method>Garanti_ConnectionTest</method>
      </methods>
      <event>
        <onStable />
        <onCriticalLevel />
        <onError />
        <onSuccess />
      </event>
    </Garanti>
  </providers>
</config>
